{% extends "base.html" %}

{% block page_title %}
  {{page_title}}
{% endblock page_title %}

{% block contents %}
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Order App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
          </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <a class="btn btn-outline-info" href="{% url 'restoran:login' %}">Login</a>
          </li>
        </ul>
      </div>
    </nav>
      <div class="container">
        <h2>About</h2>
        <img src="../static/bootstrap/img/renaleki.png"  class="rounded-circle" alt="" style="width: 200px; height:200px">
        <table class="table mt-3">
          <tbody>
            <tr>
              <th scope="row">Name Lengkap</th>
              <td>Renal Eki Riyanto</td>
            </tr>
            <tr>
              <th scope="row">No. BP</th>
              <td>17101152620039</td>
            </tr>
            <tr>
              <th scope="row">Kelas</th>
              <td>SK-1</td>
            </tr>
            <tr>
              <th scope="row">Jurusan</th>
              <td>Sistem Komputer</td>
            </tr>
            <tr>
              <th scope="row">Fakultas</th>
              <td>Ilmu Komputer</td>
            </tr>
            <tr>
              <th scope="row">Judul Skripsi</th>
              <td>Perancangan dan Bangun Miniatur Sistem Pemesanan Menu Restoran Berbasis Website Python Django dengan Raspberry Pi</td>
            </tr>
            <tr>
              <th scope="row">Perguruan Tinggi</th>
              <td>Universitas Putra Indonesia YPTK Padang</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
{% endblock contents %}