{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.css' %}">
    
    {% block tambahan_css %}
      
    {% endblock tambahan_css %}
    <title>
        {% block page_title %}
          
        {% endblock page_title %}
    </title>
  </head>
  <body>
    {% block contents %}
      
    {% endblock contents %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'bootstrap/bootstrap.js' %}"></script>
    {% block tambahan_js %}
      
    {% endblock tambahan_js %}
  </body>
</html>