{% extends "base.html" %}

{% block tambahan_css %}
    <link rel="stylesheet" href="../templates/login_style.css">
{% endblock tambahan_css %}

{% block page_title %}
  {{page_title}}
{% endblock page_title %}

{% block contents %}
<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card my-5" style="height:292px">
            <div class="card-body shadow p-3 mb-5 bg-white rounded">
                <h5 class="card-title text-center">{{page_title}}</h5>
                <form style="width:100%" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Username</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock contents %}