{% extends "base.html" %}

{% block page_title %}
  {{page_title}}
{% endblock page_title %}

{% block contents %}
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'restoran:chef' %}">Order App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'restoran:chef' %}">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'restoran:chef' %}">Ordering</a>
          </li>
        </ul>
      </div>
      <h6 class="nav navbar-nav navbar-right">Hallo, <b>{{user}}</b></h6>
      <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
          <a class="btn btn-outline-info" href="{% url 'restoran:login' %}">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <h1>{{page_title}}</h1>
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="{{form.name_menu.id_for_label}}">{{form.name_menu.label}}:</label>
        <input type="text" class="form-control" name="{{form.name_menu.name}}" maxlength="{{form.name_menu.max}}" required id="{{form.name_menu.id_for_label}}">    
    </div>

    <div class="form-group">
      <label for="{{form.category_menu.id_for_label}}">{{form.category_menu.label}}:</label>
      <input type="text" class="form-control" name="{{form.category_menu.name}}" maxlength="{{form.category_menu.max}}" required id="{{form.category_menu.id_for_label}}">
    </div>

    <!-- <div class="form-group">
        <label for="{{form.image_menu.id_for_label}}">Gambar Menu : </label>
        <input type="file" name="{{form.image_menu.name}}">
    </div> -->

    <div class="form-group">
        <label for="{{form.price_menu.id_for_label}}">{{form.price_menu.label}}:</label>
        <input type="text" class="form-control" name="{{form.price_menu.name}}" maxlength="{{form.price_menu.max}}" required id="{{form.price_menu.id_for_label}}">    
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Tambah</button>
    <a class="btn btn-danger" href="{% url 'restoran:chef' %}">Batal</a>
  </form>
</div>
{% endblock contents %}